body {
  background: #e25555;
}

.Title_Card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-135%, -90%);
  font-size: 4vw;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}

.CodexBtnGroup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-15%, -38%);
  background-color: transparent; 
  border-color: transparent;
  color:transparent;
}

.Menu {
  position: fixed; 
  background-color: transparent; 
  border-color: transparent;
  color:transparent;
}

.csymbol {
  position: fixed; 
  background-color: transparent; 
  border-color: transparent;
  color:transparent;
  transform: translate(35%, 6%);
}

.Info{
  font-family: customFont;
  font-size: 34.6px;
  position:fixed;
  top: 13%;
  left: 55%;
  text-align: left;
  margin-right: 44px;
  text-shadow: 3px 3px rgb(114, 76, 0);
  color: aliceblue;
}

@font-face {
  font-family: customfont;
  src: url(CustomFont.ttf);
}