body {
  background: #e25555;
}

.Title_Card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-130%, -100%);
  font-size: 8vw;
  font-family: customFont;
  font-weight: bolder;
  
}

.CodexBtnGroup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-15%, -38%);
  background-color: transparent; 
  border-color: transparent;
  color:transparent;
}

.Menu {
  position: fixed; 
  background-color: transparent; 
  border-color: transparent;
  color:transparent;
}

.csymbol {
  position: fixed; 
  background-color: transparent; 
  border-color: transparent;
  color:transparent;
  transform: translate(35%, 6%);
}

.Info{
  font-family: customFont;
  font-size: 2.07vw;
  position:fixed;
  top: 13%;
  left: 55%;
  text-align: left;
  margin-right: 44px;
  text-shadow: 3px 3px rgb(114, 76, 0);
  color: aliceblue;
}


.Ttl{
  font-family: customFont;
  font-size: 6vw;
  position:fixed;
  top: -8.5%;
  left: 55%;
  text-align: left;
  margin-right: 44px;
  text-shadow: 3px 3px rgb(114, 76, 0);
  color: aliceblue;
}


.Date{
  font-family: customFont;
  font-size: 1.8vw;
  position:fixed;
  left: 21.2%;
  bottom: 12%;
  text-shadow: 3px 3px rgb(114, 76, 0);
  color: aliceblue;
  margin-right: 700px;
}

.Area{
  font-family: customFont;
  font-size: 1.8vw;
  position:fixed;
  left: 21.2%;
  bottom: 9%;
  text-shadow: 3px 3px rgb(114, 76, 0);
  color: aliceblue;
}

.Group{
  font-family: customFont;
  font-size: 1.8vw;
  position:fixed;
  left: 21.2%;
  bottom: 6%;
  text-shadow: 3px 3px rgb(114, 76, 0);
  color: aliceblue;
}

@font-face {
  font-family: customfont;
  src: url(CustomFont.ttf);
}

.inv {
  
  background-color: transparent; 
  border-color: transparent;
  color:transparent;
  translate: 386% 500% ;
}

#HS{
  translate: 339% 654% ;
}

#GR{
  translate: 348% 660% ;
}

#Fib{
  translate: 352% 650% ;
}

#Pent{
  translate:361% 659% ;
}
.subt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -350%);
  font-size: 40px;
  font-family:customFont;
  font-weight: thin;
}

