body {
  background-color:aquamarine;
  background-size: fill;
  background-attachment: fixed;
  overflow-y: scroll; /* Add the ability to scroll */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}
